name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Check out IBM/mcp-context-forge
        uses: actions/checkout@main
        with:
          repository: IBM/mcp-context-forge
          path: remote-mcp-context-forge

      # - name: Run Tree
      #   run: |
      #     tree

      # - name: Run Tree
      #   run: |
      #     tree remote-mcp-context-forge/charts/mcp-stack

      # - name: Deploy cloudflare
      #   run: |
      #     kubectl apply -f k3d-manifests/cloudflare/deploy-cloudflare-pod.yaml

      # - name: Deploy nginx-sample
      #   run: |
      #     kubectl apply -f k3d-manifests/samples-deploy/

      # - name: Deploy nginx-sample
      #   run: |
      #     kubectl get pod -n nginx-sample

      - name: Deploy IBM Context Forge
        run: |
          cd k3d-manifests/samples-deploy
          cd k3d-manifests/samples-deploy
          helm upgrade --install mcp-context-forge . \
            --namespace mcp-context-forge \
            --create-namespace \
            -f values.yaml \
            --set APP_NAME=ContextForge \
            --set APP_DOMAIN=https://ibmcontextforge.cloudhomelab.uk \
            --set postgres.credentials.user=postgres \
            --set mcpContextForge.pluginConfig.enabled=true \
            --set mcpContextForge.hpa.enabled=false \
            --set mcpContextForge.secret.BASIC_AUTH_PASSWORD="" \
            --set mcpContextForge.secret.PLATFORM_ADMIN_PASSWORD="" \
            --set mcpContextForge.secret.SSO_ENABLED=true \
            --set mcpContextForge.secret.SSO_ENTRA_ENABLED=true \
            --set mcpContextForge.secret.SSO_ENTRA_CLIENT_ID="" \
            --set mcpContextForge.secret.SSO_ENTRA_CLIENT_SECRET="" \
            --set mcpContextForge.secret.SSO_ENTRA_TENANT_ID="" \
            --set mcpContextForge.metrics.enabled=false \
            --set mcpContextForge.config.ENABLE_METRICS=false \
            --set-file mcpContextForge.pluginConfig.plugins=../../plugins/config.yaml
      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Build and Push Docker Image
      #   uses: docker/build-push-action@v4
      #   with:
      #     push: true
      #     tags: your-dockerhub-username/hello-kubernetes:latest

      # - name: Set up Kubectl
      #   uses: azure/k8s-set-context@v1
      #   with:
      #     kubeconfig: ${{ secrets.KUBE_CONFIG_DATA }}

      - name: Deploy
        run: |
          kubectl get all -n mcp-context-forge
